{{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1>{{ .Title }}</h1>
        <p>
          <!-- {{ .Params.description }} -->
          <ul style="text-align: left">
            <li>Rights management: selected titles.</li>
            <li>Editorial prospecting: catalogues, individual prospecting sheets by title and collection, rough translations in english, international book fairs such as Bologna and Francfort.</li>
            <li>Communication on social media: Instagram, Linkedin.</li>
            <li>Contracts negotiations worldwide.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="site-blog">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 12).Pages }}
      <div class="col-lg-4">
        <article class="site-blog-post">
          {{ with .Params.image }}
          <div class="site-blog-post-thumb">
            <img src="{{ . | absURL }}" alt="post-thumb">
          </div>
          {{ end }}
          <div class="site-blog-post-content">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>
              {{ .Params.description }}
            </p>
          </div>
        </article>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-blog-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}