{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <article class="site-blog-details">
          <div style="text-align: center">
            <img class="feature-image" src="{{ .Params.image | absURL }}" alt="blog-feature-image">
          </div>
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "detail-maison.html" . }}
{{ partial "call-to-action.html" . }}

{{ end }}