{{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
          <ul style="text-align: left">
          <li>Lecture de textes en français, anglais et allemand : fiction et non-fiction.</li>
          <li>Résumés : fiches de lecture détaillées.</li>
          <li>Correction orthotypographique, préparation de copies, mise en page maquettes intérieures et couvertures.</li>
          <li>Rédaction de résumés, quatrièmes de couverture, notices, bibliographies.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-blog">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 6).Pages }}
      <div class="col-lg-4">
        <article class="site-blog-post">
          {{ with .Params.image }}
          <div class="site-blog-post-thumb">
            <img src="{{ . | absURL }}" alt="post-thumb">
          </div>
          {{ end }}
          <a href="{{ .Permalink }}">
            <div class="site-blog-post-content">
              <h3>{{ .Title }}</h3>
              <p>
                {{ .Params.description }}
              </p>
            </div>
          </a>
        </article>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-blog-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}