{{ define "main" }}
<section class="site-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ml-auto">
        <div class="row">
          <h1 class="site-about-title">
            <img class="feature-image site-about-img" src="{{ .Params.feature_image | absURL }}" alt="blog-feature-image">
            <br>
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10" id="about-descr">
        <br>
        <br>
        <br>
        <div class="row" id="fr">
        <h3>{{ .Params.heading | safeHTML }}</h3>
          <p>
            En 2021, après avoir obtenu mon master d'édition jeunesse, j'ai décidé de me lancer dans une toute nouvelle aventure : <strong>l'auto-entreprenariat</strong>.
          </p>
          <p>
            Forte de mes expériences professionnelles en tant qu'assistante éditoriale et de droits étrangers (les petites bulles éditions, les petites moustaches, Nathan jeunesse), je souhaite à présent proposer mes services.
          </p>
          <p>
            <i>Je m'adresse donc en premier lieu aux éditeurs, mais je suis également ouverte à la possibilité de travailler en direct avec des auteurs.</i>
          </p>
          <p>
            Je suis à la recherche d'ouvrages de fiction (illustrés ou non) autour de cinq grandes thématiques :
          </p>
          <ul>
            <li>art</li>
            <li>histoire</li>
            <li>crime/enquête</li>
            <li>fantastique/fantasy</li>
            <li>sujets contemporains (deuil, maladie...)</li>
          </ul>
          <p>
            Qu'il s'agisse de lire des manuscrits, les corriger, les mettre en forme ou bien les représenter à l'étranger, j'ai véritablement à cœur de faire tout mon possible pour mener à bien votre projet !   
          </p>
        </div>
        <hr>
        <div class="row" id="en">
          <p>In 2021, after graduating of my master degree in children's publishing, I decided to go on a whole new adventure: <strong>self-employment</strong>.
          </p>
          <p>
            Strengthen by my previous experiences as an editor and foreign rights assistant (les petites bulles éditions, les petites moustaches, Nathan jeunesse), I want for now on to offer my services.   
          </p>
          <p>
            *I am primarily addressing to publishers, but I am also open to the possibility of working directly with authors*.   
          </p>
          <p>
            I am looking for fiction books (with or without illustrations) around five big themes:   
          </p>
          <ul>
            <li>art</li>
            <li>history</li>
            <li>crime/investigation</li>
            <li>fantasy</li>
            <li>contemporary subjects (grief, sickness...)</li>
          </ul>
          <br>
          <p>
            Whether it is about reading, correcting, layout or represent manuscripts abroad, I truly desire to do as much as I can to fulfill your project!
          </p>
        </div>
        <!-- <div class="site-contact-form">
          <h4>{{ .Params.description_fr }}</h4>
        </div> -->
      </div>
    </div>
  </div>
</section>
{{ end }}
